.order-history {
    font-family: Arial, sans-serif;
}

.order-history .red-button {
    margin: 0;
}

.order-history h1 {
    margin-bottom: 20px;
}

.filters {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.filters .date {
    width: 140px;
}

.filters input, .order-history .dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filters .dropdown {
    min-width: 500px;
}

