.main-page {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.main-page__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../public/main-page.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}

.main-page__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(44, 62, 80, 0.5);
    padding: 40px;
    border-radius: 10px;
}

.main-page__text h1 {
    font-size: 6rem;
    margin: 0;
}

.main-page__text p {
    font-size: 2rem;
    margin-top: 20px;
}

.main-page__actions {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.action {
    background-color: rgba(255, 255, 255, 0.8);
    color: #1e4549;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.action h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.action p {
    font-size: 1.2rem;
}
