@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

.dropdown * {
    font-size: 18px;
}

.dropdown ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    background-color: white;
    width: 100%;
    min-width: 180px;
}

.dropdown li button {
    color: #2c3e50;
    display: block;
    background: none;
    border: none;
    padding: 0;
    text-align: left;
    width: 100%;
}

.dropdown li button:hover {
    color: #3ca0e7;
    cursor: pointer;
}

.dropdown li:hover {
    cursor: pointer;
}

.dropdown ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}

.dropdown ul li:hover > ul,
.dropdown ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0 3px 5px -1px #ccc;
}

.dropdown ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

.dropdown ul li ul li button:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3CA0E7;
}

.dropdown ul li ul li button {
    transition: all 0.5s ease;
}

.dropdown-menu > input {
    position: relative;
    margin: 10px;
    width: calc(100% - 20px);
}

.dropdown-menu-scrollable {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 240px;
}